.module-66 {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 3; }
.module-66 .ry-arrow__down .arrow__wrapper .arrow__inner{background:#fff;}
.module-66 .ry-arrow__down .arrow__wrapper {background: #5e718b;}
  @media (min-width: 1300px) {
    .module-66 {
      min-height: auto; } }
  @media (max-width: 767px) {
    .module-66 { 
      background-position: center;
      background-size: cover; } }
  .module-66 .bnr-textbox {
    margin-bottom: 5% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9; }
    .module-66 .bnr-textbox .ry-section-title {
      text-align: center;
      text-transform: uppercase;
		/*text-shadow: #5e718b 1px 0px 3px;*/
      font-size: clamp(1.625rem, 1.5114rem + 0.5682vw, 1.875rem); }
      @media (max-width: 320px) {
        .module-66 .bnr-textbox .ry-section-title {
          font-size: 32px; } }
      @media (min-width: 1600px) {
        .module-66 .bnr-textbox .ry-section-title {
          font-size: clamp(1.625rem, 1.5114rem + 0.5682vw, 1.875rem); } }
  .module-66 .ry-arrow__down {
    z-index: 99;
    position: absolute;
    text-align: center;
    bottom: -23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .module-66 .ry-arrow__down .arrow__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-decoration: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      z-index: 9999;
      margin: 0 auto;
      cursor: pointer;
      -webkit-perspective: 500px;
      perspective: 500px; }
      .module-66 .ry-arrow__down .arrow__wrapper .arrow__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 1;
        top: 7px;
        left: 0;
        -webkit-transition: 1.2s cubic-bezier(0.24, 1, 0.3, 1);
        transition: 1.2s cubic-bezier(0.24, 1, 0.3, 1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .module-66 .ry-arrow__down .arrow__wrapper .fa {
        font-size: 25px;
        color: #000;
        position: relative;
        top: 0;
        z-index: 2;
        -webkit-transition: color 1.2s cubic-bezier(0.24, 1, 0.3, 1) 0.15s;
        transition: color 1.2s cubic-bezier(0.24, 1, 0.3, 1) 0.15s; }
      .module-66 .ry-arrow__down .arrow__wrapper:hover .arrow__inner {
        -webkit-transform: scale(0);
                transform: scale(0); }
      .module-66 .ry-arrow__down .arrow__wrapper:hover .fa {
        color: #fff; }
        
  .module-66 .carousel {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(#000, rgba(255, 255, 255, 0)); }
    .module-66 .carousel .carousel-inner {
      opacity: 0.6; }
      .module-66 .carousel .carousel-inner .item {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat; }
        @media (min-width: 1300px) {
          .module-66 .carousel .carousel-inner .item {
            min-height: auto; } }
        .module-66 .carousel .carousel-inner .item img {
          /*display: none;*/ }
    .module-66 .carousel .carousel-control {
      z-index: 9999; }
  .module-66 .ry-el-bg {
    background-size: cover !important;
    background-position: 50% !important; }
  .module-66 .ry-el-bg img {
    display: none; }
  @media (max-width: 992px) {
    .module-66 .item {
      height: auto;
      background-position: 50% !important;
      background-size: cover !important;
      background-repeat: no-repeat !important; }
    /*.module-66 .item img {
      display: none; }*/
    .module-66 .carousel {
      /*background: #000;*/
      background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(255, 255, 255, 0)));
      background-image: linear-gradient(#000, rgba(255, 255, 255, 0)); }
    .module-66 .carousel-inner {
      opacity: 0.6; } }
  .module-66.style2 .carousel .carousel-inner {
    opacity: 1; }
    .module-66.style2 .carousel .carousel-inner:after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0; }
  .module-66.style2 .carousel .carousel-control .icon-next, .module-66.style2 .carousel .carousel-control .icon-prev {
    margin-top: 40px; }
  @media (max-width: 1350px) {
    .module-66.style2 .carousel .carousel-control {
      width: 5%; } }
  .module-66.style2 .bnr-textbox {
    bottom: 300px;
    margin-bottom: 0 !important; }
    .module-66.style2 .bnr-textbox .ry-section-title {
      font-family: 'Allura', cursive;
      text-transform: capitalize;
      font-size: 185px; }
      .module-66.style2 .bnr-textbox .ry-section-title span.span-1 {
        display: block;
        font-size: 45px;
        text-transform: uppercase; }
    @media (max-width: 375px) {
      .module-66.style2 .bnr-textbox .ry-section-title {
        font-size: 100px; }
        .module-66.style2 .bnr-textbox .ry-section-title span.span-1 {
          font-size: 25px; } }
    @media (max-width: 991px) {
		.module-66, .module-66 .carousel .carousel-inner .item {height:auto;}
      .module-66.style2 .bnr-textbox {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    @media (max-width: 1024px) {
      .module-66.style2 .bnr-textbox .ry-section-title {
        font-size: 130px; }
        .module-66.style2 .bnr-textbox .ry-section-title span.span-1 {
          font-size: 35px; } }
    @media screen and (min-width: 1025px) and (max-width: 1123px) {
      .module-66.style2 .bnr-textbox {
        bottom: 305px; }
        .module-66.style2 .bnr-textbox .ry-section-title {
          font-size: 160px; } }

.module-66 .carousel .carousel-inner{
	opacity: 1;
}
.module-66 a.carousel-control {
	display: none;
}

.module-66 .bnr-textbox .ry-section-title span {
    display: block;
    font-size: clamp(2rem, 1.0625rem + 4.6875vw, 4.0625rem);
    margin-top: 20px;
}

.module-66 {
	margin-top: -1px;
}

.module-66 .bnr-textbox .ry-section-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1080px) {
	.module-66 .ry-arrow__down{
		display: none;
	}
	.module-66 {
		margin-top: 0;
	}

	.module-66 .bnr-textbox {
    display: none;
    position: relative;
background: #e2a55e;
    padding: 60px 20px;
    margin-bottom: 0 !important;
}
	.module-66:before{
		display: none !important;
	}
}

@media (min-width: 1081px){
	.module-66, .module-66 .item img {
		height: calc(100vh - 0px);
		object-fit: cover;
		object-position: center 0%;
	}
	.module-66 .carousel .carousel-inner .item:first-child img {
		object-position: 30% !important;
	}
	.module-66:before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(to bottom, transparent, #00000066);
		z-index: 9;
	}
	.module-66 .bnr-textbox .ry-section-title {
		color: #fff;
	}
}